@keyframes dropdown {
    from {
        transform-origin: top;
        opacity: 0;
        transform: scale(100%, 0);
    }
    to {
        transform-origin: top;
        opacity: 1;
        transform: scale(100%, 100%);
    }
}